header {
	position: fixed;
	top: 0;
	height: 190px;
	width: 100%;
	background: #fff;
}

#content {
	position: absolute;
	top: 190px;
}

.site-branding, .custom-logo-link, .site-title, .site-description, .main-navigation {
	display: inline-block;
}