.menu-item *, .menu-item *:visited {
	font-size: 16px;
	font-weight: 500;
	color: $fnt_color;
}

.main-navigation {
	position: fixed;
	top: 0;
	height: 10vh;
	width: 100%;
	background: #fff;
	margin: 0;
}

#content {
	//position: absolute;
	//top: 190px;
}

.site-branding {
	// display: inline-block;
	// width: 40%;
	// margin-left: 50px;
}

.site-description {
	width: 50%;
}

.custom-logo-link, 
.site-title, 
.site-description, 
.custom-logo-link,
.primary-menu li {
	display: inline-block;
	//width: auto;
	margin: 5px 25px;
}

.custom-logo-link img {
	height: 7vh;
	width: auto;
	margin: 5px;
}

.site-branding a {
	display: inline-block;
}

.site-title {
	display: none;
}

.site-branding {

}

.menu-jppv_menu-container {
	//width: 100%;
}

.primary-menu {
	float: right;
}