h1, h1 a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	line-height: 4.2vh;
	font-size: 3.5vh;
	letter-spacing: -0.0125em;
}

h2, h2 a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	line-height: 3.5vh;
	font-size: 3.0vh;
	letter-spacing: -0.0125em;
}

h3, h3 a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	line-height: 3.0vh;
	font-size: 1.75vh;
}

// h1, h1 a {
//   font-family: 'Play';
//   font-style: normal;
//   font-weight: bold;
//   font-size: 3.5vh;
// }

// h2, h2 a {
//   font-family: 'Play';
//   font-style: normal;
//   font-weight: bold;
//   font-size: 3.0vh;
// }