/*Test images starts*/
.demo-image-1 {
	//background-image: url('img/night_vlad.jpg');
	background-size: 50% auto;
}
/*Test images ends*/

.main-image-1 {
	background-image: url('img/bg_01.jpg');
	background-size: cover;
}

.main-image-2 {
	/*
	background-image: url('../img/bg_02.jpg');
	background-size: cover;
	*/
}

.main-image-3 {
	background-image: url('img/bg_03.jpg');
	background-size: cover;
}

.main-image-3-slide {
// 	width: 100%;
// 	height: 100%;
// 	bottom: 0;
// 	background-image: url('img/map_bg.jpg');
// 	background-size: cover;
// 	background-position: 0 10vh;
// 	background-repeat: no-repeat;
// 	padding-top: 100px;
// 	padding-left: 100px;
padding: 10px;
}

.fp-prev {
	margin-left: 5vw;
}